.Infobox{
    text-align: center;
}
.cardContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
}
.cardContainer h2{
    font-weight: bolder;
    font-size: 2em;
    margin-right: 10px;
}
p{
    /* color: black;
    font-size: large;
    font-weight: bold; */
}
.cardContent{
    display: flex;

}
.cont1{
    border-right: 2px solid black;
    flex-grow: 1;
   
}
.cont2{
    flex-grow: 1;

}


/* Adding Responsiveness */
@media (max-width: 550px){
    .cardContent{
       flex-direction: column;
    }
    .cont1{
        border-right: none;
        border-bottom: 2px solid black;
       
    }
}

@media (max-width: 450px){
    .cardContainer h2{
        display: none;
    }
}



